.DS_Store


# VS Code / IDE workspace metadata
.metadata/
.vscode/

# STM32CubeIDE user settings
.settings/

# STM32CubeMX metadata
.mxproject

# Build outputs
*.elf
*.hex
*.bin
*.map
*.list
*.o
*.d
*.su

# Standalone make build directory
