.DS_Store


# VS Code / IDE workspace metadata
.metadata/
.vscode/

# STM32CubeIDE user settings
.settings/

# STM32CubeMX metadata
.mxproject

# Build outputs
*.elf
*.hex
*.bin
*.map
*.list
*.o
*.d
*.su

# Standalone make build directory
stm32_node/.idea/
stm32_node/build/
.build/
.cache/
build/

# tex build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls